.topic {
  width: 100%;
  background-color: #000000;
  box-shadow: 0px 5px 7px --7px rgba(0, 0, 0, 0.75);
}

.topic_top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  color: #ffffff;
}

.topic_avatar {
  margin-right: 10px;
}

.topic_topInfo > h3 {
  font-size: medium;
}

.topic_topInfo > p {
  font-size: small;
  color: gray;
}

.topic_bottom {
  margin-top: 10px;
  padding: 15px 25px;
  color: #ffffff;
}

.topic_image > img {
  width: 100%;
}

.topic_options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.topic_option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.topic_option > p {
  margin-left: 10px;
}

.topic_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}
